body{ 
    .fascinate-inline-regular {
        font-family: "Fascinate Inline", serif;
        font-weight: 400;
        font-style: normal;
      }
}
h1{
    .fascinate-inline-regular {
        font-family: "Fascinate Inline", serif;
        font-weight: 400;
        font-style: normal;
}
}
h2{
    .fascinate-inline-regular {
        font-family: "Fascinate Inline", serif;
        font-weight: 400;
        font-style: normal;
}
}